h1 {
    background-color:#d4a373   ;
    color: #e9edc9;
    padding: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle 3D effect */
    border: 10px;
    margin:0px;
  }
  Header{
    border:0;
  }
  