html, body {
    height: 100%; 
    /* entire height is used */
    margin: 0;
    background-color: #e9edc9;
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .Content {
    flex: 1;
  }
  

  .Footer {
    text-align: center;
    padding: 20px;
    background-color: #d4a373;
    margin-top: auto;
  }
 