/* Board.css */
.board-container {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
}



.board-container h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	border: 5px;
}
.boardCard{
	display: flex;
	flex-direction: column;
  	align-items: center;
}
.card {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	width: 200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
