.CardModal {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px 0;
	border-radius: 5px;
}

.CardModal h3 {
	margin: 0;
	font-size: 1.5em;
}

.CardModal p {
	margin: 5px 0;
	color: #666;
}

.CardModal img {
	max-width: 100%;
	border-radius: 5px;
}

.CardModal button {
	margin-right: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.CardModal button:hover {
	opacity: 0.8;
}
