/* BoardGrid.css */
.board-grid-container {
	padding: 20px;
}

.board-grid-container h1 {
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	color: #333;
}

.board-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.board-item {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 15px;
	width: 250px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.board-item:hover {
	transform: scale(1.05);
}

.board-item h2 {
	font-size: 20px;
	margin-bottom: 10px;
	color: #007bff;
}

.board-item p {
	font-size: 14px;
	color: #555;
}

/* 
.board-grid-container {
	padding: 20px;
}

.board-grid-container h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

.board-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
} */
.search-bar {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.search-bar input {
	width: auto;
	height: auto;
	font-size: 16px;
	border: 1px solid #fefae0;
	border-radius: 5px;
}


