.CreateBoard {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.CreateBoard input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.CreateBoard button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.CreateBoard button:hover {
  background-color: #0056b3;
}
